
head {
  background-color: 050555;
    text-align: center;
}
body {
  background-color: medium;
  color: 100000;
  text-align: center;
}
alert {
  font-family: monospace;
  font-size: 70px;
  color: 200000;
  text-align: center;
}
